# Directories from Visual Studio / Visual Studio Code / Dotnet / Random Stuff
.vs/
.vscode/
bin/
obj/
Release/
Debug/
SMAPI/
Intermediate/

# Build outputs and or random garbage data
*.obj
*.bin
*.out
*.ilk
*.pdb
*.exe
*.dll
*.lib
*.a
*.so

# Visual Studio Solution, pretty sure this isn't required
*.sln